body {
  background-color: $color-quill-gray;
  color: $color-baltic-sea;
}

.header {
  height: fit-content;
  background-color: $color-baltic-sea;

  %header-default-color {
    color: $color-saffron !important;
  }

  &__title {
    a {
      @extend %header-default-color;
    }
  }

  &__toggler {
    border-color: $color-saffron;
    @extend %header-default-color;
  }

  .navbar-collapse a {
    @extend %header-default-color;
  }
}

.page-title {
  background-color: $color-saffron;
  border-bottom: 1px solid $color-baltic-sea;
}

.record {
    background-color: white;
    box-shadow: 1px 1px 5px #999;
    border-radius: 0.5rem;

    &--default {
      height: 13rem;
    }

    &--add .fas {
        color: #999;
        font-size: 5rem;
    }

    &__cover {
      border-top-right-radius: 0.4rem;
      border-top-left-radius: 0.4rem;
    }

    &-form {
        background-color: #fafafa;
        box-shadow: 1px 1px 5px #999;
        border-radius: 00.5rem;

        &__title {
            border-bottom: 0.1rem solid #444;
        }
    }

    &__item {
        height: fit-content;

        &--bordered {
            border-bottom: 1px solid #999;
        }
    }
}

.product {
  height: 21rem;

  &__link {
    width: 60%;

    &, &:active, &:invalid, &:visited, &:hover {
      color: darken($color-saffron, 15);
      text-decoration: none;
    }
  }
}

.category {
  height: 17rem;
}