.user {
  height: 13rem;
  background-color: white;
  box-shadow: 1px 1px 5px #999;
  border-radius: 0.5rem;

  .fas {
    color: #999;
    font-size: 5rem;
  }

  &-form {
    background-color: #fafafa;
    box-shadow: 1px 1px 5px #999;
    border-radius: 00.5rem;

    &__title {
      border-bottom: 0.1rem solid #444;
    }
  }
}